<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Life+"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeApp">
        <activity
            android:name=".actQuotes"
            android:exported="false" />
        <activity
            android:name=".UpdateHobby"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="Add Hobby"
            android:parentActivityName=".Hobbies" />
        <activity
            android:name=".GoalsPerso"
            android:exported="false"
            android:label="Personal section - Goals" />
        <activity
            android:name=".Hobbies"
            android:exported="false"
            android:label="Personal section - Hobbies" />
        <activity
            android:name=".Mood"
            android:exported="false"
            android:label="Personal section - Mood" />
        <activity
            android:name=".ImBored"
            android:exported="false"
            android:label="Personal section - I&apos;m Bored" />
        <activity
            android:name=".Datas"
            android:exported="false" />
        <activity
            android:name=".Results"
            android:exported="false" />
        <activity
            android:name=".Perso"
            android:exported="false"
            android:label="Personal section" />
        <activity
            android:name=".Work"
            android:exported="false" />
        <activity
            android:name=".Acceuil"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>